body {
    background-color: rgb(229, 220, 233);
    color: rgba(8, 3, 9, 0.639);
    font-family: Arial;
    margin: 0;
    padding: 20px;
}
     .header{
        background-color: rgb(250, 250, 250);
        color: rgb(0,0,0);
        border: none;
        padding: 35px 70px;
        font-size: 24px;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
        margin-bottom: 20px;
        transition: 0.3s;
        box-shadow: 4px 4px 10px rgb(199, 194, 204);
    }    

    .text-section{
        background-color: rgb(250, 250, 250);
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 6px rgb(0,0,0);

    }
   .big-button {
       background-color: rgb(143, 105, 178);
    color: rgb(250, 250, 250);
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 4px 4px 10px rgba(199, 194, 204, 0.8);

       
   }
    
    

    .big-button:active {
        background: linear-gradient(90deg, rgb(215, 202, 215),rgb(209, 161, 209), rgb(212, 147, 212));
        color: white;
    }

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-shadow: 3px 3px 10px rgb(239, 237, 241);
        transition: all 0.3s;
        display: blacl;
        margin: 20px auto;
    }

    img:active {
        border-radius: 20px;
        
    }



    .moving-text {
        text-align: center;
        color: rgb(100, 80, 120);
        animation: move 3s infinite alternate ;
        font-size: 24px;
        margin:20px ;
    }

    @keyframes move {
        0% {transform: translateX(0);}
        100% {transform: translateX(40px);}
    }
    

    fieldset {
        border: 2px solid rgb(235, 226, 235);
        border-radius: 10px;
        padding: 10px;
        width: fit-content; 
        margin-bottom: 20px;
    
    }

    legend{
        font-weight: bold;
        color: rgb(143, 105, 178);
    }
