body {
    background-color: rgb(163, 93, 198);
    color: rgba(149, 20, 174, 0.639);
    font-family: Arial;
    margin: 0;
    padding: 20px;
}
    .header {
        text-align: center;
        background-color: blueviolet;
        color: purple;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 6px rgb(182, 90, 182);
    }    

    .text-section{
        background-color: rgb(234, 143, 234);
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 6px rgb(192, 92, 192);

    }


    .header{
        background-color: rgba(196, 108, 196, 0.5);
        color: blueviolet;
        border: none;
        padding: 35px 70px;
        font-size: 24px;
        border-radius: 15px;
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 4px 4px 10px blueviolet;

    }
    

    .big-button:active {
        background: linear-gradient(90deg, purple,rgb(218, 78, 218), rgb(212, 147, 212));
        color: white;
    }

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-shadow: 3px 3px 10px rgb(126, 2, 243);
        transition: all 0.3s;
    }

    img:active {
        border-radius: 20px;
    }

    .moving-text {
        text-align: center;
        color: rgb(62, 8, 113);
        animation: move 7s infinite alternate ;
    }

    @keyframes move {
        0% {transform: translateX(0);}
        100% {transform: translateX(40px);}
    }

    fieldset {
        border: 2px solid purple;
        border-radius: 10px;
        padding: 10px;
    }

    legend{
        font-weight: bold;
        color: rgb(143, 105, 178);
    }